<section class="cont-home-bose">
    <article class="cont-text-home">
        <h1 class="title-detail-home">
          Distractions off.
          Focus. On.
        </h1>
        <p class="text-detail-home">
			<a href="">
				QUIETCOMFORT 35 WIRELESS HEADPHONES II
			</a>
		</p>
		<div class="cont-btn-add-cart-home">
			<button class="btn-default-white" (click)="irAudifonos()">
				SHOP
			</button>
		</div>
    </article>
	<article class="cont-product-home">
		<div class="swiper-container">
		<swiper [config]="config">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="assets/images/products/img-headphones-1.jpg" alt="" class="img-responsive">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/products/img-headphones-2.jpg" alt="" class="img-responsive">
				</div>
				<div class="swiper-slide">
					<img src="assets/images/products/img-headphones-2.jpg" alt="" class="img-responsive">
				</div>
			</div>
			<div class="swiper-pagination">
					<span class="swiper-pagination-bullet"></span>
					<span class="swiper-pagination-bullet"></span>
					<span class="swiper-pagination-bullet"></span>
			</div>
		</swiper>
		</div>
	</article>
	<div class="shape-bg-headphones"></div>
</section>
<section class="cont-default-bose">
	<p class="subtitle-detail-bose">
		SUNGLASSES.
	</p>
	<h2 class="title-detail-bose">
		WITH A SOUNDTRACK
	</h2>
	<p class="text-detail-bose">
		This distinct rounded shape was first popularized by artists and musicians, which is fitting because for the first time ever it plays music.
	</p>
	<div class="cont-img-detail">
		<img src="assets/images/products/img-sunglasses-1.jpg" alt="" class="img-responsive">
	</div>
	<div class="cont-btn-add-cart">
		<button class="btn-default" (click)="irGafas()">
			SHOP
		</button>
	</div>
</section>

