<section class="cont-default-bose p-section-default section-cart">
	<article class="cont-list-car">
		<h4 class="title-default-car">
				TU CARRITO
		</h4>
		<hr>
		<div class="item-list-cart">
			<div class="cont-img-article">
				<img src="{{producto.picture}}" alt="" class="img-responsive">
			</div>
			<div class="cont-actions-data-article">
				<div class="actions-article">
					<p class="name-article">
							{{producto.nombre}}
					</p>
					<div class="cont-star-quality">
						<button class="btn-star-score">
							<i class="icon-star"></i>
						</button>
						<button class="btn-star-score">
							<i class="icon-star"></i>
						</button>
						<button class="btn-star-score">
								<i class="icon-star"></i>
						</button>
						<button class="btn-star-score">
							<i class="icon-star"></i>
						</button>
						<button class="btn-star-score">
							<i class="icon-star"></i>
						</button>
					</div>
				</div>
				<div class="data-article">
					
					<div class="text-price-cart">
						<p class="price-cart">
								
							{{producto.precio}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</article>
</section>
<section class="cont-resume-cart">
	<article class="resume-cart">
		<h2 class="title-detail-bose">
				RESUMEN DEL PEDIDO
		</h2>
		<div class="cont-detail-resume">
			<table class="resume-table">
				<tbody>
					<tr>
						<td  class="title-resume"colspan="2">
								4 PRODUCTOS
						</td>
					</tr>
					<tr>
						<td class="title-resume">PRECIO SIN IMPUESTOS</td>
						<td class="number-resume">$949.8</td>
					</tr>
					<tr>
						<td class="title-resume">Total del producto</td>
						<td class="number-resume">$1,249.8</td>
					</tr>
					<tr>
						<td class="title-resume">Gastos de Envió</td>
						<td class="number-resume">$2.000</td>
					</tr>
					<tr>
						<td class="text-total">TOTAL</td>
						<td class="text-total align-right">3,249.8</td>
					</tr>
				</tbody>
			</table>
		</div>
	</article>
	
	<article class="cont-code-promotional cont-info-article">
		<h2 class="title-detail-bose">
				CÓDIGO PROMOCIONAL
		</h2>
		<form action="">
			<input class="input-code" type="text">
			<div class="cont-tooltip">
				<i class="icon-tooltip"></i>
			</div>
		</form>
		<div class="cont-btn-add-cart">
				<button class="btn-default">
					Checkout
				</button>
			</div>
	</article>
</section>